<%- include('Layout/header'); %>
  <style>
    table tbody tr {
      transition: transform 0.2s ease;
      border-radius: 100px !important;
    }

    table tbody tr:hover {
      transform: translateX(6px);
      cursor: pointer;
    }

    .action-btn {
      padding: 6px 9px !important;
      /* both equal */
      /* display: flex; */
      align-items: center;
      justify-content: center;
      width: 35px;
      /* same fixed size */
      height: 35px;
    }

    .action-btn i {
      font-size: 14px;
      line-height: 0;
    }

    .search-box {
      position: relative;
      width: 280px;
    }

    .search-box input {
      padding-left: 36px;
      border-radius: 8px;
      font-size: 14px;
    }

    .search-box i {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      color: #6c757d;
      font-size: 14px;
    }
  </style>
  <div class="main-content">
    <div class="topbar rounded-4 mb-4 d-flex justify-content-between align-items-center shadow-sm px-3">
      <h5>Users</h5>

      <!-- Leave Form Button -->
      <a href="/Register" class="btn btn-primary">
        Add User
      </a>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-circle"></i> Admin
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/Login">Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="container-fluid mt-4">
      <div class="card p-4">

        <!-- Header + Search -->
        <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-2">
          <h6 class="mb-0">User List</h6>

          <!-- Search Box -->
          <div class="search-box">
            <i class="bi bi-search"></i>
            <input type="text" id="userSearch" class="form-control" placeholder="Search by name, email, role..." />
          </div>
        </div>

        <!-- Table -->
        <table class="table table-users mt-3 ">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Comapny</th>
              <th>Resume</th>
              <th>Role</th>
              <th>Status</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>
          <tbody id="rolldata"></tbody>
        </table>

      </div>
    </div>

  </div>
  <!-- modal-body -->
  <div class="modal fade" id="showApplicationModal" tabindex="-1" aria-labelledby="showApplicationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="showApplicationModalLabel">Edit Application Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="editApplicationForm">
          <div class="modal-body">
            <input type="hidden" id="editId" name="id">
            <div class="mb-3">
              <label class="form-label fw-bold" for="editName">Full Name:</label>
              <input type="text" class="form-control" id="editName" name="name" required>
            </div>
            <div class="mb-3">
              <label class="form-label fw-bold" for="editEmail">Email address:</label>
              <input type="email" class="form-control" id="editEmail" name="email" required>
            </div>
            <div class="mb-3">
              <label class="form-label fw-bold" for="Comapny">Comapny:</label>
              <input type="text" class="form-control" id="Comapny" name="Comapny" required>
            </div>

            <div class="mb-3">
              <label class="form-label fw-bold" for="editPosition">Role:</label>
              <input type="text" class="form-control" id="editPosition" name="position" required>
            </div>
            <div class="mb-3">
              <label class="form-label fw-bold" for="status">Status:</label>
              <input type="text" class="form-control" id="status" name="position" required>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="edit">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <img src="" alt="" srcset="">
  <script>

    addEventListener("DOMContentLoaded", async (e) => {
      try {
        const res = await fetch('http://localhost:3000/getregisterdata');
        const usersd = await res.json();
        console.log(usersd, "llll");

        const tbody = document.getElementById('rolldata');
        tbody.innerHTML = "";
        
        usersd.forEach((user, index) => {
          tbody.innerHTML +=
            `<tr>
              <td>${index + 1}</td>
              <td>${user.first_name + " " + user.last_name}</td>
              <td>${user.email}</td>
              <td>${user.company_id.name}</td>
              <td>  <img src="" alt="" srcset="" ${user.resume} > </td>
               <td> 
        <a href="/uploads/${user.resume}" target="_blank" class="btn btn-sm btn-danger">
          View Resume
        </a>
      </td>
              <td>${user.role_id}</td>
              <td><span class="badge bg-warning">${user.status}</span></td>
              <td>
              <button class="btn btn-primary btn-sm action-btn showApplicationBtn" data-bs-toggle="modal" data-bs-target="#showApplicationModal" id="edit" data-id="${user._id}"><i class="bi bi-pencil"></i></button>
              <button class="btn btn-danger btn-sm action-btn  deltaeApplicationBtn" id="delete" data-id="${user._id}"><i class="bi bi-trash"></i></button>
              </td>
            </tr>`;
        });

        const showApplicationBtn = document.querySelectorAll(".showApplicationBtn");
        showApplicationBtn.forEach(btn => {
          btn.addEventListener("click", async (e) => {
            e.preventDefault();
            const btnattribute = btn.getAttribute("data-id");
            // console.log(btnattribute);
            const idobj = {
              id: btnattribute
            }
            // console.log(idobj);

            //single data api 
            const res = await fetch("http://localhost:3000/singleuserdashboard", {
              method: "POST",
              headers: {
                "content-type": "application/json",
              },
              body: JSON.stringify(idobj)
            })
            // console.log(res);

            const data = await res.json();
            console.log(data, "single data");
            document.getElementById("editId").value = data._id;
            document.getElementById("editName").value = data.first_name + " " + data.last_name;
            document.getElementById("editEmail").value = data.email;
            document.getElementById("Comapny").value = data.company_id.name;
            document.getElementById("editPosition").value = data.role_id;
            document.getElementById("status").value = data.status;

          })
        });
        // updated data api
        const editApplicationForm = document.getElementById("editApplicationForm")
        editApplicationForm.addEventListener("submit", async (e) => {
          e.preventDefault();
          const id = document.getElementById("editId").value
          // console.log(id, "upid");
          const updatedobj = {
            first_name: document.getElementById("editName").value,
            email: document.getElementById("editEmail").value,
            role_id: document.getElementById("editPosition").value,
            status: document.getElementById("status").value
          };
          const upfetch = await fetch(`http://localhost:3000/updateduserdashboard/${id}`, {
            method: "PUT",
            headers: {
              "content-type": "application/json"
            },
            body: JSON.stringify({ id, ...updatedobj })
          })
          // console.log(upfetch);

          const updata = await upfetch.json()
          console.log(updata, "updata");

          if (upfetch.ok) {
            alert(`${updata.msg}`)
            location.reload()
          }
          else {
            alert("Data Can't be Updated")
          }
        })

        //delate api 
        const deltaeApplicationBtn = document.querySelectorAll(".deltaeApplicationBtn");
        deltaeApplicationBtn.forEach(btn => {
          btn.addEventListener("click", async (e) => {
            e.preventDefault()
            const delbtn = btn.getAttribute("data-id")
            //  console.log(delbtn);
            const delobj = {
              id: delbtn
            }
            //  console.log(delobj);

            const delfetch = await fetch(`http://localhost:3000/deleteuserdashboard/${delbtn}`, {
              method: "DELETE",
              headers: {
                "content-type": "application/json"
              },
              body: JSON.stringify(delobj)
            })
            console.log(delfetch);

            const deldata = await delfetch.json()
            console.log(deldata);

            if (delfetch.ok) {
              alert(`User Data Delete Sucssesfully`)
              location.reload()
            }

            else {
              alert("User Data Can't be Delete")
            }


          })
        });
        const userSearch = document.getElementById("userSearch");
        userSearch.addEventListener("input", async (e) => {
          const value = userSearch.value
          console.log(value);
          const serchfetch = await fetch(`http://localhost:3000/serchapi?serch=${encodeURIComponent(value)}`)
          console.log(serchfetch);
          const serchres = await serchfetch.json()
          console.log(serchres);
          tbody.innerHTML = ""
          serchres.forEach((user, index) => {
            tbody.innerHTML += `<tr>
              <td>${index + 1}</td>
              <td>${user.first_name + " " + user.last_name}</td>
              <td>${user.email}</td>
              <td>${user.role_id}</td>
              <td><span class="badge bg-warning">${user.status}</span></td>
              <td>
              <button class="btn btn-primary btn-sm action-btn showApplicationBtn" data-bs-toggle="modal" data-bs-target="#showApplicationModal" id="edit" data-id="${user._id}"><i class="bi bi-pencil"></i></button>
              <button class="btn btn-danger btn-sm action-btn  deltaeApplicationBtn" id="delete" data-id="${user._id}"><i class="bi bi-trash"></i></button>
              </td>
            </tr>`;
          });
        })
      }
      catch (err) {
        console.error('Eroor In Your Side', err);
      }
    })
  </script>
  <%- include('Layout/footer'); %>